.results {
  .result-item {
    height: 360px;
    margin-bottom: 30px;
    position: relative;
    border-radius: 4px;

    .heart {
      width: 50px;
      height: 50px;
      position: absolute;
      right: 0;
      bottom: 0;
      background-image: url('https://abs.twimg.com/a/1474649078/img/animations/web_heart_animation.png');
      background-position: left top;
      background-repeat: no-repeat;
      background-size: 2900%;
      display: block;
      cursor: pointer;
      z-index: 1;

      &.heart-active {
        animation: heartAnimation 1s steps(28) forwards;
      }
    }

    @keyframes heartAnimation {
      from {
        background-position: left top;
      }
      to {
        background-position: right top;
      }
    }

    .result-poster {
      width: 100%;
      height: 360px;
      border-radius: 4px;
      object-fit: cover;
    }

    .result-poster-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0px;
      background: linear-gradient(to bottom, transparent 5%, $black 100%);
      border-radius: 4px;
    }

    .result-info {
      width: 100%;
      padding: 10px;
      position: absolute;
      bottom: 0px;

      .name {
        margin-bottom: 6px;
        font-size: 28px;
        font-weight: $bold;
        color: $white;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .year {
        margin-bottom: 0px;
        font-size: 18px;
        color: $gray;
        line-height: inherit;
      }
    }
  }

  .results-error {
    font-size: 36px;
    font-weight: $bold;
    line-height: 46px;
    color: $red;
    text-align: center;
  }
}
